{
	"semi": false,
	"singleQuote": true,
	"printWidth": 100,
	"trailingComma": "none",
	"useTabs": true,
	"tabWidth": 2,
	"importOrder": [
		"^@forum/types/(.*)$",
		"^@forum/ui/types/(.*)$",
		"^@types/(.*)$",
		"^[./]*types/(.*)$",
		"^@forum/models/(.*)$",
		"^@forum/ui/models/(.*)$",
		"^@models/(.*)$",
		"^[./]*models/(.*)$",
		"^@forum/constants/(.*)$",
		"^@forum/ui/constants/(.*)$",
		"^@constants/(.*)$",
		"^[./]*constants/(.*)$",
		"^@forum/services/(.*)$",
		"^@services/(.*)$",
		"^[./]*services/(.*)$",
		"^@forum/api/(.*)$",
		"^@api/(.*)$",
		"^[./]*api/(.*)$",
		"^@forum/prisma/(.*)$",
		"^@prisma/(.*)$",
		"^[./]*prisma/(.*)$",
		"^@forum/utils/(.*)$",
		"^@forum/ui/utils/(.*)$",
		"^@utils/(.*)$",
		"^[./]*utils/(.*)$",
		"^@forum/ui/(.*)$",
		"^@ui/(.*)$",
		"^[./]*ui/(.*)$",
		"^@forum/hooks/(.*)$",
		"^@forum/ui/hooks/(.*)$",
		"^@hooks/(.*)$",
		"^[./]*hooks/(.*)$",
		"^[./]",
		"<THIRD_PARTY_MODULES>"
	],
	"importOrderCaseInsensitive": true,
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true
}
